@import "../../styles.scss";

.content-grid {
  .samples-img {
    background-image: url("../../assets/samples-heading.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text {
    background-color: #e8e8ea;
  }
}

h3 {
  margin-bottom: 3rem;
}

.view-work {
  text-align: center;
  padding: 85px var(--body-x-padding);
}

.cards-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;

  app-work-card {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
